// stylelint-disable no-eol-whitespace
@import './breakpoints.scss';

$spacing: (
  0: 0,
  1: 0.1rem,
  2: 0.125rem,
  4: 0.25rem,
  8: 0.5rem,
  10: 0.625rem,
  11: 0.688rem,
  12: 0.75rem,
  16: 1rem,
  20: 1.25rem,
  24: 1.5rem,
  32: 2rem,
  40: 2.5rem,
  30: 1.875rem,
  48: 3rem,
  64: 4rem,
  80: 5rem,
  100: 6.2rem,
  auto: auto,
  '10p': 10%,
  '20p': 20%,
  '25p': 25%,
  '30p': 30%,
  '35p': 35%,
  '40p': 40%
);

$classes: (
  pa: padding,
  pl: padding-left,
  pr: padding-right,
  pt: padding-top,
  pb: padding-bottom,
  pv: padding-top padding-bottom,
  ph: padding-left padding-right,

  ma: margin,
  ml: margin-left,
  mr: margin-right,
  mt: margin-top,
  mb: margin-bottom,
  mv: margin-top margin-bottom,
  mh: margin-left margin-right
);

// following scss loops loop over spacing classes for each level for each breakpoint
// e.g. pa0, pa0-nm...pa1, pa1-nm...
@each $class, $attrs in $classes {
  @each $step, $var in $spacing {
    .#{$class}#{$step} {
      @each $attr in $attrs {
        #{$attr}: #{$var};
        box-sizing: border-box;
      }
    }
  }
}

@each $class, $attrs in $classes {
  @each $step, $var in $spacing {
    @include mb(#{$class}#{$step}) {
      @each $attr in $attrs {
        #{$attr}: #{$var};
        box-sizing: border-box;
      }
    }
  }
}
@each $class, $attrs in $classes {
  @each $step, $var in $spacing {
    @include dk(#{$class}#{$step}) {
      @each $attr in $attrs {
        #{$attr}: #{$var};
        box-sizing: border-box;
      }
    }
  }
}
