// stylelint-disable no-eol-whitespace

@import './breakpoints';

/* Widths */

$widths: (
  0: 0,
  auto: auto,
  '16': 1rem,
  '32': 2rem,
  '48': 3rem,
  '50': 3.2rem,
  '56': 3.5rem,
  '64': 4rem,
  '67': 4.2rem,
  '80': 5rem,
  '96': 6rem,
  '112': 7rem,
  '160': 10rem,
  '320': 20rem,
  '352': 22rem,
  '10p': 10%,
  '20p': 20%,
  '24p': 24%,
  '25p': 25%,
  '30p': 30%,
  '40p': 40%,
  '49p': 49%,
  '50p': 50%,
  '60p': 60%,
  '70p': 70%,
  '75p': 75%,
  '80p': 80%,
  '85p': 85%,
  '90p': 90%,
  '96p': 96%,
  '100p': 100%
);

@each $name, $val in $widths {
  .w#{$name} {
    width: #{$val};
  }

  .minw#{$name} {
    min-width: #{$val};
  }

  .maxw#{$name} {
    max-width: #{$val};
  }

  .flex#{$name} {
    flex: 0 0 #{$val};
  }
}

@each $name, $val in $widths {
  @include mb(w#{$name}) {
    width: #{$val};
  }
}

@each $name, $val in $widths {
  @include tb(w#{$name}) {
    width: #{$val};
  }
}

@each $name, $val in $widths {
  @include dk(w#{$name}) {
    width: #{$val};
  }
}
